<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head data-th-replace="~{/layouts/header :: head}">
    </head>
    <body>
        <header data-th-replace="~{/layouts/header :: header}"></header>

        <section class="container">
            <h2
                class="text-center my-5"
                th:text="${edicion ? 'Modificar Carrera' : 'Nueva Carrera'}"
            ></h2>
            <div class="mx-auto" style="max-width: 576px">
                <form
                    th:action="${edicion} ? '/alumnos/modificar-alumno' : '/alumnos/guardar-alumno'"
                    th:object="${alumno}"
                    method="post"
                >
                   
                   <div th:if="${edicion}">
                    <input type="hidden"
                           name="idAlumno"
                           th:field="*{idAlumno}" />
                </div>
                   
                   
                    <div class="mb-3">
                        <label for="codigo" class="form-label">L.U</label>
                        <input
                            type="text"
                            th:class="'form-control ' + ${edicion ? 'form-control opacity-75' : ''}"
                            id="codigo"
                            name="codigo"
                            required
                            th:field="*{lu}"
                            th:readonly="${edicion}"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="dni" class="form-label">D.N.I</label>
                        <input
                            type="text"
                            th:class="'form-control ' + ${edicion ? 'form-control opacity-75' : ''}"
                            id="dni"
                            name="dni"
                            required
                            th:field="*{dni}"
                            th:readonly="${edicion}"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input
                            type="text"
                            class="form-control"
                            id="nombre"
                            name="nombre"
                            required
                            th:field="*{nombre}"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input
                            type="text"
                            class="form-control"
                            id="apellido"
                            name="apellido"
                            required
                            th:field="*{apellido}"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Telefono</label>
                        <input
                            type="number"
                            class="form-control"
                            id="telefono"
                            name="telefono"
                            required
                            th:field="*{telefono}"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            required
                            th:field="*{email}"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="fechaNacimiento" class="form-label">Fecha Nacimiento</label>
                        <input
                            type="date"
                            class="form-control"
                            id="fechaNacimiento"
                            name="fechaNacimiento"
                            required
                            th:value="*{fechaNacimiento}"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="domicilio" class="form-label">Domicilio</label>
                        <input
                            type="text"
                            class="form-control"
                            id="domicilio"
                            name="domicilio"
                            required
                            th:field="*{domicilio}"
                        >
                    </div>
                    
                    
                    
                    <div class="mb-3">
    					<label for="carrera" class="form-label">Carrera</label>
    					<select class="form-select" id="carrera" name="carreraId" required th:field="*{carreraId}">
        					<option th:each="carrera : ${carreras}"
                				th:value="${carrera.idCarrera}"
                				th:text="${carrera.nombre}"></option>
    					</select>
					</div>
                    
                    
                    <button
                        type="submit"
                        class="btn btn-primary"
                        th:text="${edicion ? 'Modificar' : 'Guardar'}"
                    >
                    </button>
                </form>
            </div>
        </section>

        <footer data-th-replace="~{/layouts/footer :: footer}"></footer>


        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>