<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head data-th-replace="~{/layouts/header :: head}">
    </head>
    <body>
        <header data-th-replace="~{/layouts/header :: header}"></header>

        <section class="container">
            <h2
                class="text-center my-5"
                th:text="${edicion ? 'Modificar Carrera' : 'Nueva Carrera'}"
            ></h2>
            <div class="mx-auto" style="max-width: 576px">
                <form
                    th:action="${edicion} ? '/carreras/modificar-carrera' : '/carreras/guardar-carrera'"
                    th:object="${carrera}"
                    method="post">
                    
                    <div th:if="${edicion}">
                    <input type="hidden"
                           name="idCarrera"
                           th:field="*{idCarrera}" />
                	</div>
                    
                    
                    <div class="mb-3">
                        <label for="codigo" class="form-label">Código</label>
                        <input
                            type="text"
                            th:class="'form-control ' + ${edicion ? 'form-control opacity-75' : ''}"
                            id="codigo"
                            name="codigo"
                            required
                            th:field="*{codigo}"
                            th:readonly="${edicion}"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input
                            type="text"
                            class="form-control"
                            id="nombre"
                            name="nombre"
                            required
                            th:field="*{nombre}"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="cantidadAnios" class="form-label">Duración (años)</label>
                        <input
                            type="number"
                            class="form-control"
                            id="cantidadAnios"
                            name="cantidadAnios"
                            required
                            th:field="*{cantidadAnios}"
                        >
                    </div>
                    <div th:if="${edicion}" class="mb-3">
                        <label>Estado</label>
                        <div class="form-check">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="flexRadioDefault"
                                id="flexRadioDefault1"
                                value="true"
                                th:field="*{estado}"
                            >
                            <label class="form-check-label" for="flexRadioDefault1">
                                Activa
                            </label>
                        </div>
                        <div class="form-check">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="flexRadioDefault"
                                id="flexRadioDefault2"
                                value="false"
                                th:checked="${!carrera.estado}"
                            >
                            <label class="form-check-label" for="flexRadioDefault2">
                                Inactiva
                            </label>
                        </div>
                    </div>
                    <button
                        type="submit"
                        class="btn btn-primary"
                        th:text="${edicion ? 'Modificar' : 'Guardar'}"
                    >
                    </button>
                </form>
            </div>
        </section>

        <footer data-th-replace="~{/layouts/footer :: footer}"></footer>

        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>