<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head data-th-replace="~{/layouts/header :: head}">
    </head>
    <body>
        <header data-th-replace="~{/layouts/header :: header}"></header>
        <section class="container">
            <h2 class="text-center my-5">Inscripcion a Materia</h2>
            <h4 class="text-center my-5">Ingrese sus datos y eliga una materia</h4>
            <div th:if="${isUpdated}" id="alert" class="alert alert-success" role="alert">
                Inscripción realizada correctamente
            </div>
            <div th:if="${isNotUpdated}" id="alertEdit" class="alert alert-danger" role="alert">
        		LU del alumno no encontrada
      		</div>
            <div class="mx-auto" style="max-width: 576px">
                <form
                    data-th-action="@{/inscripcion/inscribir}"
                    th:object="${alumno}"
                    method="post"
                >
                    <div class="mb-3">
                        <label for="codigo" class="form-label">L.U</label>
                        <input
                            type="text"
                            class="form-control"
                            id="codigo"
                            name="codigo"
                            required
                            th:field="*{lu}"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input
                            type="text"
                            class="form-control"
                            id="nombre"
                            name="nombre"
                            required
                            th:field="*{nombre}"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input
                            type="text"
                            class="form-control"
                            id="apellido"
                            name="apellido"
                            required
                            th:field="*{apellido}"
                        >
                    </div>
                    <div class="mb-3">
				  		<label for="MateriaCarrera" class="form-label custom-label">Materias:</label>
				  		<select class="form-select" id="MateriaID" name="MateriaID">
				  			<option value="">-- Selecciona un Materia --</option>
				  			<option th:each="m: ${materias}" th:value="${m.idMateria}" th:text="${m.nombre}"></option>
				  		</select>
					</div>
                    <button  type="submit" class="btn btn-primary">Inscribirme </button>
                </form>
            </div>
        </section>

        <footer data-th-replace="~{/layouts/footer :: footer}"></footer>


        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
   		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </body>
</html>